@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {

    --Orange: hsl(25, 97%, 53%);

    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);

    --meas: 45px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

body {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--Very-Dark-Blue);
    overflow: hidden;
}

.main-container {
    background-color: var(--Dark-Blue);
    width: 400px;
    height: 400px;
    border-radius: 3rem;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    position: relative;
    overflow: hidden;
}

.icon-container{
    background-color: hsl(216, 12%, 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--meas);
    height: var(--meas);
    border-radius: 9999999px;
}

.heading-page{
    color: var(--White);
    font-size: 30px;
    font-weight: 700;
    text-align: left;
}

.par-content{
    color: var(--Medium-Grey);
    margin-top: 8px;
}

.buttons-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.button {
    color: var(--Medium-Grey);
    background: hsl(210, 7%, 23%);
    border: none;
    width: var(--meas);
    height: var(--meas);
    border-radius: 999999px;
    font-size: 16px;
    transition: all .2s ease;
}

.button:hover {
    background-color: var(--Orange);
    color: white;
}

.button.active {
    background-color: var(--Light-Grey);
    color: white;
}

.submit-section{
    width: 100%;
    height: 45px;
    text-transform: uppercase;
    color: white;
    background-color: var(--Orange);
    border-radius: 999999px;
    font-weight: 700;
    border: none;
    font-size: 16px;
    transition: all .2s ease;
}

.submit-section:hover{
    color: var(--Orange);
    background-color: white;
}

.second-container{
    background-color: var(--Dark-Blue);
    width: 400px;
    height: 400px;
    border-radius: 3rem;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
    align-items: center;
    position: absolute;
    bottom: -100%;
    right: 0px;
    transition: all .5s ease;
}

.second-container-brand{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-heading{
    color: var(--White);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.brand-rating{
    padding: .5rem .7rem;
    margin-top: 25px;
    color: var(--Orange);
    background-color: hsl(206, 6%, 25%);
    border-radius: 9999px;
}

.content-para{
    color: var(--Medium-Grey);
    margin-top: 8px;
    text-align: center;
}

@media only screen and (max-width: 430px) {
    * {
        font-size: 13px;
    }

    .main-container, .second-container{
        width: 300px;
        height: 360px;
        padding: 1.5em;
    }

    .second-container{
        justify-content: center;
    }

    .button {
        width: 38px;
        height: 38px;
        font-size: 14px;
    }

    .heading-page, .content-heading{
        font-size: 25px;
    }
  }

.attribution { font-size: 11px; text-align: center;  color: var(--Light-Grey); margin-top: 30px;}
.attribution a { color: var(--Medium-Grey); }
